<% provide(:title, "#{@article.title}") %>
<div class="container">
	<div class="col-lg-6 col-lg-offset-3">
		<h1 class="article-title col-lg-12 h2"><%= @article.title %></h1>
		<img src="<%= @article.img_url %>" class="article-img col-lg-12">

		<%= simple_format @article.summary + "...", class: "article-summary col-lg-12" %>
		<p class="article-link col-lg-12 text-right"><a href="<%= @article.url %>" target="_blank">Read the full article <span class="glyphicon glyphicon-chevron-right"></span></a></p>

		
	</div>

</div>