<div class="container">
<div class="row">
<h1 class="text-muted col-lg-offset-5">FeedEntries#index</h1>
<p>Find me in app/views/feed_entries/index.html.erb</p>
<% @feed.reverse.each do |feed| %>

<div>
	<%= link_to feed.title, feed.url, target: '_blank' %>
	<%= time_ago_in_words(feed.pubdate) %>

	<%= link_to "Delete", feed, method: :delete,
        data: { confirm: "You sure?" } %>
</div>



<% end %>

</div>
</div>