<ul class="nav nav-pills nav-stacked">
            <li>
                <a href="/jobs">
                    <span>All Jobs</span>
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </a>
            </li>
            <li class="active disabled">
                <a href="#" class="text-center">
                    Hours
                </a>
            </li>
            <li>
                <a href="/jobs/category/full time">
                    <span>Full Time</span>
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>

                </a>
            </li>
            <li>
                <a href="/jobs/category/part time">
                    <span>Part Time</span>
                    
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            
                    
                </a>
            </li>
            <li>
                <a href="/jobs/category/freelance">
                    <span>Freelance</span>
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </a>
            </li>
            <li>
                <a href="/jobs/category/temp seasonal">
                    <span>Temp/Seasonal</span>
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </a>
            </li>

            <li class="active disabled">
                <a href="#" class="text-center">
                    Category
                </a>
            </li>
            <li>
                <a href="/jobs/category/barista">
                    <span>Barista</span>
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </a>
            </li>
            <li>
                <a href="/jobs/category/manager">
                    <span>Manager</span>
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </a>
            </li>
            <li>
                <a href="/jobs/category/trainer">
                    <span>Trainer</span>
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </a>
            </li>
            <li>
                <a href="/jobs/category/roaster">
                    <span>Roaster</span>
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </a>
            </li>
            <li>
                <a href="/jobs/category/sales">
                    <span>Sales</span>
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </a>
            </li>
            <li>
                <a href="/jobs/category/logistics">
                    <span>Logistics</span>
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </a>
            </li>
            <li>
                <a href="/jobs/category/food">
                    <span>Food</span>
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </a>
            </li>
            <li>
                <a href="/jobs/category/other">
                    <span>Other</span>
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </a>
            </li>
        </ul>
        