<% provide(:title, "Thank You For Posting a Job!") %>

<div class="container">
	<div class="page-header">
		<h1 class="text-center">Thank you for posting a Job!</h1>
		<!-- <p class="text-center">New jobs won't appear on the site straight away, but it will be up in a jiffy!</p> -->
		<p class="text-center">We'll do our best to promote your job on the site and on twitter! Jobs can take an hour or so to appear on the site, so check back soon!</p>
		<p class="text-center"> Jobs that are over a month old automatically expire on the site. If you're no longer hiring, please email josh@beanist.co to let us know.</p>
	</div>
	<!-- <h2 class="text-center"><a href="/jobs">Back to Job Board</a></h2> -->
	<h2 class="text-center"><a href="/jobs">Back to the Job Board</a></h2>
</div>