<% provide(:title, "Thank You For Posting a Job!") %>

<div class="container">
	<div class="page-header">
		<h1 class="text-center">Thank you for posting a Job!</h1>
		<!-- <p class="text-center">New jobs won't appear on the site straight away, but it will be up in a jiffy!</p> -->
		<p class="text-center">The Job Board will be launching publicly on Friday The 14th of March. Your Job Post will be visible then!</p>
		<p class="text-center">If you're no longer hiring, please email jobs@beanist.co to let us know.</p>
	</div>
	<!-- <h2 class="text-center"><a href="/jobs">Back to Job Board</a></h2> -->
	<h2 class="text-center"><a href="/jobs">Back to Beanist</a></h2>
</div>