<%=link_to '#', class: "voteup" do %>
	<span class="glyphicon glyphicon-circle-arrow-up" id="glyph"></span>
<% end %>
 
<%=link_to '#', class: "votedown" do %>
	<span class="glyphicon glyphicon-circle-arrow-down"></span>
<% end %>

<script type="text/javascript">
					$( ".updown" ).click(function() {
					  $("#vote-notice").html("Please Sign in or Register to Rate Articles");
					});
</script>