<%=link_to '#', class: "voteup" do %>
				<span class="glyphicon glyphicon-circle-arrow-up" id="glyph"></span>
			<% end %>
			 
			<%=link_to '#', class: "votedown" do %>
				<span class="glyphicon glyphicon-circle-arrow-down"></span>
			<% end %>