
<%=link_to vote_featured_article_path(item, type: "up"), method: "post", remote: true, class: "voteup" do %>
	<span class="glyphicon glyphicon-circle-arrow-up"></span>
<% end %>
 
<%=link_to vote_featured_article_path(item, type: "down"), method: "post", remote: true, class: "votedown" do %>
	<span class="glyphicon glyphicon-circle-arrow-down"></span>
<% end %>
