<% provide(:title, 'About') %>
<div class="container">
	<div class="col-lg-7">
		<h1 class="about-title h2">Welcome to Beanist</h1>

		<p>
			Beanist is a small project by a couple of Speciality Coffee lovers in the South East of England. We love drinking Speciality Coffee, but we also found ourselves wanting to learn more about coffee as consumers and as home brewers. We created Beanist to aggregate all the best blogs, articles and news from the myriad of content on the web. Beanist cuts through all the crap online to send you to the very best resources that will help you brew a better cup and help you know more about the black liquid of dreams (and jitters).
		</p>
		<br />
		<p>
			We're very much in our 'beta' stage, so the site will be going through rapid development over the coming months.
		</p>
		<br /> 
		<p>
			<strong>Get the very latest on <a href="http://twitter.com/the_beanist" target="_blank">twitter</a></strong> or <strong>email us to say hi! hi@beanist.co</strong>
		</p>
	</div>
</div>