<div class="column-banner">
	<div class="container">
	

		<div class="col-lg-3">
			<p class="pull-left column-header">Today's Latest</p>
		</div>
		<div class="col-lg-6">
			<p class="text-center column-header">Featured</p>
		</div>
		<div class="col-lg-3">
			<p class="pull-right column-header">Favourites</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<%= render 'feed' %>
		<%= render 'feature' %>
		<%= render 'favourite' %>
 	</div>
</div>