// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';

.post-title {
	font-family: 'Passion One', cursive;
	color: $gray-dark;
	margin-bottom: 30px;
}

.post-body {
	font-family: 'Droid Sans', sans-serif;
}